.btn-sheets{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: .8rem;
}

.btn-sheets > * {
    margin-bottom: .8rem;
    border: none;
    color: var(--main-bg-color);
    transition: all .5s;
}

.btn-sheets > *:hover{
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    background-color: var(--main-bg-color);
    color: var(--dark-color-1);
}
.btn-sheets > *:active{
    transform: translateY(-1px);
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
}
.btn-sheets .clearBtn:hover {
    background-color: var(--danger-color-1);
}