.auth,
.search {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, var(--main-bg-color), #2c3e50);
    display: flex;
}

.auth .auth-block {
    position: relative;
    width: 65%;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

.login {
    display: flex;
}

.register {
    display: flex;
    justify-content: space-around;
}

.login .loginSvg {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 60%;
}

.register .registerSvg {
    margin-top: 4rem;
    margin-right: 2rem;
    width: 60%;
}

.login .loginForm,
.register .registerForm {
    height: var(--auth-card-height);
    display: flex;
    justify-content: center;
}

.login .loginForm .loginForm_container, 
.register .registerForm  .registerForm_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login .loginForm .loginForm_container .loginForm_container-inputs {
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-between;
}

.login .loginForm .loginForm_container .loginForm_container-inputs input,
.register .registerForm .registerForm_container .registerForm_input input {
    padding: 1rem 1.2rem;
    padding-left: 4rem;
    border-radius: 10px;
    width: 30rem;
    border: none;
}

.register .registerForm .registerForm_container .registerForm_input input {
    padding: 1rem;
    padding-left: 1rem;
}

.login .loginForm .loginForm_container .loginForm_container-btn,
.register .registerForm .registerForm_container .registerForm_container-btn {
    background-color: var(--success-color-1);
    color: var(--dark-color-1);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 1rem 0;
}

.login .loginForm .loginForm_container .loginForm_container-createAccount,
.register .registerForm .registerForm_container .registerForm_container-login {
    border: none;
    background-color: transparent;
}

.login .loginForm .loginForm_container .loginForm_container-btn:hover,
.login .loginForm .loginForm_container .loginForm_container-createAccount:hover,
.register .registerForm .registerForm_container .registerForm_container-btn:hover,
.register .registerForm .registerForm_container .registerForm_container-login:hover {
    cursor: pointer
}

.login .loginForm .loginForm_container .loginForm_container-btn:hover,
.register .registerForm .registerForm_container .registerForm_container-btn:hover {
    color: var(--main-bg-color);
    background-color: var(--success-color-2);
}

.login .loginForm .loginForm_container .loginForm_container-createAccount:hover {
    transform: translateX(1rem);
    transition: all .3s ease-in;
}

.register .registerForm .registerForm_container .registerForm_container-login:hover {
    transform: translateX(-1rem);
    transition: all .3s ease-in;
}


.envelope,
.lock {
     position: absolute;
     top: 50%;
     left: 2rem;
     transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1400px) {
    .login {
        justify-content: center;
    }

    .loginSvg,
    .registerSvg {
        display: none;
    }
} 

@media only screen and (max-width: 590px) {
    .login .loginForm .loginForm_container .loginForm_container-inputs input,
    .register .registerForm .registerForm_container .registerForm_input input {
        padding: 1rem 1.2rem;
        width: 25rem;
    }

    .login .loginForm .loginForm_container .loginForm_container-inputs .envelope, 
    .login .loginForm .loginForm_container .loginForm_container-inputs .lock {
        display: none;
    }

    .login .loginForm .loginForm_container .loginForm_label,
    .register .registerForm .registerForm_container  .registerForm_label {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    .login .loginForm .loginForm_container .loginForm_container-inputs input,
    .register .registerForm .registerForm_container .registerForm_input input {
        font-size: 1rem;
        width: 20rem;
    }
}