:root {
    --main-bg-color:#EAEAEA; 
    --menu-bg-color: #ccc;
    --dark-color-1: #000;
    --light-color-1: #aaa;
    --danger-color-1: #e74c3c;
    --success-color-1: #38ef7d;
    --success-color-2: #45B649;

    --auth-card-height: 52rem;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: var(--main-bg-color);
}

.App {
    width: 95%;
    margin: auto;
}

.App .sheet:not(:first-child) {
    margin-top: 2rem;
}

.btn {
    background-color: var(--dark-color-1);
    border: 1px solid var(--dark-color-1);
    border-radius: 50px;
    color: var(--main-bg-color);
    text-transform: capitalize;
    padding: 2px 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
*:focus { outline: none}

ul {list-style: none;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* UTILITIES */
.relative {position: relative;}
.center {text-align: center;}

.nomargin{margin: 0;}
.nomarginpadding{margin: 0; padding: 0;}

.font-2 {font-size: 2rem;}
.font-3 {font-size: 3rem;}
.font-4 {font-size: 4rem;}