.alert {
    padding: 0.8rem;
    opacity: .8;
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
    border-bottom:1px solid black;
}

.alert:first-child {
    margin-top: 2rem;
}

.alert-danger {
    background-color: red;
}

.alert-success {
    background-color: #a1ee7d;
    border-bottom: none;
    width: 20%;
}