.sheet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 50%;
}

.sheet-header .userSignIn .userSignIn_link,
.sheet-header .search-songs {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--dark-color-1);
}

.sheet-header .userSignIn .userSignIn_link:hover,
.sheet-header .search-songs:hover {
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.song-information .logout {
    visibility: hidden;
}

.main_song_header {
    text-transform: uppercase;
    padding-top: .5rem;
}

.song-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1475px) {
    .main_song_header {
        font-size: 3rem;
    }

    .sheet-header .userSignIn .userSignIn_link,
    .sheet-header .userSignIn a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1185px) {
    .main_song_header {
        font-size: 2.5rem;
    }

    .sheet-header .userSignIn .userSignIn_link,
    .sheet-header .userSignIn a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .sheet-header {
        margin: 0;
        width: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .song-information {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 790px) {
    .song-information .main_song_header {
        font-size: 3rem;
    }

    .song-information .username {
        font-size: .8rem;
    }
}