.sheet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 50%;
}

.sheet-header .userSignIn .userSignIn_link,
.sheet-header .search-songs {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--dark-color-1);
}

.sheet-header .userSignIn .userSignIn_link:hover,
.sheet-header .search-songs:hover {
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.song-information .logout {
    visibility: hidden;
}

.main_song_header {
    text-transform: uppercase;
    padding-top: .5rem;
}

.song-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}