.menu-notes {
    height: 100vh;
    width: 15rem;
    padding: 0 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 1rem;
    background-color: var(--menu-bg-color);
}

.menu-notes .notes-section,
.confirm-edit-container .notes-section{
    border: 1px solid var(--dark-color-1);
    border-radius: 10px;
}

.menu-notes .menu-section-label,
.confirm-edit-container .menu-section-label {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: var(--dark-color-1)
}

.notes-section .row-container-col {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-notes .notes-section .row,
.confirm-edit-container .row {
    display: flex;
    justify-content: space-around;
}


.note-container .note-label {
    margin-bottom: .7rem;
    font-size: 1.3rem;
    color: var(--dark-color-1)
}

.note-container button {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    transition: all .3s;
}

.note-container button:hover {
    cursor: pointer;
    transform: translateY(-.4rem);
}

.note-container button .note-menu-image {
    font-size: 5rem;
    height: auto;
    line-height: 4.3rem;
    position: relative;
    color: var(--dark-color-1);
}

.confirm-edit-container .menu-song-title-input {
    width: 100%;
    border: none;
    padding: 1px 0;
    background-color: var(--main-bg-color);
    color: currentColor;
}

.mb-1 {
    margin-bottom: 1rem;
}

.dot {
    font-family: 'Times New Roman', Times, serif;
}

.rest-dot {
    position: absolute;
    bottom: 25px;
}


.tempoInput,
.descriptionInput {
    background-color: transparent;
    width: 80%;
}