.songInfo_dropdown {
    width: 100%;
    background-color: transparent;
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-color: var(--dark-color-1);
    color: var(--dark-color-1);
}

.songInfo_dropdown .songInfo_option {
    background-color: var(--light-color-1);
    color: var(--dark-color-1);
}

.songInfo .songInfo_prop label {
    display: block;
    color: var(--dark-color-1);
}

.songInfo .songInfo_prop div {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--dark-color-1)
} 

.songInfo_btns-container .editBtns-container {
    display: flex;
    justify-content: space-between;
}

.songInfo_btns-container .editBtns-container .songInfo_btn {
    flex-basis: 7rem;
}

.songInfo_btns-container .editBtns-container .songInfo_btn:hover {
    background-color: var(--main-bg-color);
    color: var(--dark-color-1)
}

.songInfo_btns-container .clearBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.songInfo_btns-container .clearBtn-container .clearBtn {
    width: 100%;
}