.search .search-block .search-menu {
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid black;
}

.search .search-block .search-menu .search-menu-container {
    margin-bottom: 1rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search .search-block .search-menu .search-menu-container .search-menu-input {
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}

.search .search-block .search-menu .search-menu-filter {
    margin: 1rem 0;
}

.search .search-block .search-menu .search-menu_btns {
    display: flex;
    justify-content: space-between;
}

.search .search-block .search-menu .search-menu_btns .search-menu_btn {
    text-decoration: none;
    margin-left: 1rem;
}

.search-menu_btn {
    text-align: center;
}

@media only screen and (max-width: 1700px) {
    .search .search-block {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .search .search-block .search-menu {
        width: 80%;
        height: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: auto;
        border: none;
    }

    .search .search-block .search-menu .search-menu-filter {
        display: none;
    }

    .search .search-block .search-menu .search-menu-container {
        grid-column: 1 / span 1;
    }

    .search .search-block .search-menu .search-menu_btns {
        flex-direction: column;
        grid-column: 2 / span 1;
    }

    .search-block .search-menu .search-menu_btns .search-menu_btn-clear {
        margin: .5rem 0;
    }

    .search .search-block .search-menu .search-menu_btns .search-menu_btn-home {
        display: none;
    }

    .search-menu_btn {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 760px) {
    .search .search-block .search-menu .search-menu-container .search-menu-input {
        font-size: 1rem;
    }

    .search .search-block .search-menu .search-menu-container {
        height: 5rem;
    }
}