.alert {
    position: relative;
    z-index: 10;
    padding: 0.8rem;
    opacity: .8;
    width: 30%;
    margin: auto;
    transform: translateX(10%);
    border-bottom:1px solid black;
}

.alert:first-child {
    margin-top: 2rem;
}

.alert-danger {
    background-color: var(--danger-color-1);
}

.alert-success {
    background-color: var(--success-color-1);
    border-bottom: none;
    border-radius: 10px;
}