.alert {
    position: fixed;
    z-index: 1000;
    padding: 0.8rem;
    right: 0;
    margin: 5rem 1rem 0 0;
    background-color: var(--menu-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    animation: slideIn 1s ease forwards;
}

.alert .alert_msg {
    margin-left: 1rem;
    font-size: 1.7rem;
}

.alert-error {
    color: var(--danger-color-1);
}

.alert-success {
    color: var(--success-color-2);
}

@keyframes slideIn {
    to {
        transform: translateX(0) 
    }
    from {
        transform: translateX(100%) 
    }
}