.search .search-block {
    position: relative;
    width: 75%;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    display: flex;
}

.search .search-block .search-songs {
    width: 100%;
}

.search .search-songs .search-songs_list,
.search .search-songs .search-songs_list .search-songs_list-headings,
.search .search-songs .search-songs_list .search-songs_list-item,
.search-menu-container  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1fr;
    align-items: center;
}

.search .search-songs .search-songs_list .search-songs_list-headings {
    border-top-right-radius: 10px;
}

.search .search-songs .search-songs_list .search-songs_list-headings {
    padding: 1rem 0;
    background-color: var(--success-color-1);
    grid-column: 1 / -1;
}

.search .search-songs .search-songs_list .search-songs_list-item {
    grid-column: 1 / -1;
    text-decoration: none;
    color: var(--dark-color-1);
}

.search .search-songs .search-songs_list .search-songs_list-item:hover {
    background-color: var(--menu-bg-color);
}

.search .search-songs .search-songs_list:last-child .search-songs_list-item:hover {
    border-bottom-right-radius: 10px !important;
}

.search .search-songs .search-songs_list .search-songs_list-headings span,
.search .search-songs .search-songs_list .search-songs_list-item span,
.search-menu-container > * {
    justify-self: center;
}