.songInfo_dropdown {
    width: 100%;
    background-color: transparent;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.songInfo_dropdown .songInfo_option {
    background-color: #ccc;
}

.songInfo .songInfo_prop label {
    display: block;
    font-size: 2rem;
}

.songInfo .songInfo_prop div {
    font-size: 1.5rem;
    margin-bottom: 2rem;
} 

.songInfo_btn:hover {
    background-color: grey;
}

.songInfo_btns {
    display: flex;
    justify-content: space-evenly;
}