.tab-music-container {
    display: flex;
}

.tab-music-container > ul > li > input:hover {
    cursor: default;
}

.tab-music li {
    border-bottom: 1px solid black;
    height: 2rem;
}

.tabLine-input {
    width: 5%;
    background-color: transparent;
    transform: translateY(55%);
    padding: 0;
    border: none;
    font-weight: 700;
}