.time-signature li {
    font-family: 'Boogaloo', cursive;
}

.time-signature-natural,
.time-signature-1s {
    position: absolute;
    bottom: -170px;
    left: 55px;
}
.time-signature-2s {
    position: absolute;
    bottom: -170px;
    left: 65px;
}
.time-signature-3s {
    position: absolute;
    bottom: -170px;
    left: 73px;
}
.time-signature-4s {
    position: absolute;
    bottom: -170px;
    left: 80px;
}
.time-signature-5s {
    position: absolute;
    bottom: -170px;
    left: 90px;
}
.time-signature-6s {
    position: absolute;
    bottom: -170px;
    left: 90px;
}

.key-signature .sharp1 {
    position: absolute;
    top: 67px;
    left: 45px;
}
.key-signature .sharp2 {
    position: absolute;
    top: 98px;
    left: 53px;
}
.key-signature .sharp3 {
    position: absolute;
    top: 56px;
    left: 61px;
}
.key-signature .sharp4 {
    position: absolute;
    top: 88px;
    left: 69px;
}
.key-signature .sharp5 {
    position: absolute;
    top: 118px;
    left: 77px;
}
.key-signature .sharp6 {
    position: absolute;
    top: 77px;
    left: 85px;
}

.key-signature .flat1 {
    position: absolute;
    top: 94.5px;
    left: 45px;
}
.key-signature .flat2 {
    position: absolute;
    top: 67px;
    left: 53px;
}
.key-signature .flat3 {
    position: absolute;
    top: 110px;
    left: 61px;
}
.key-signature .flat4 {
    position: absolute;
    top: 73.5px;
    left: 69px;
}
.key-signature .flat5 {
    position: absolute;
    top: 115px;
    left: 77px;
}
