.sheet-music-container {
    display: flex;
}

.drag-container-space {
    height: 2rem;
    border: none;
    margin: auto;
    display: none;
}

.sheet-music li {
    border-top: 1px solid black;
    height: 2rem;
    position: relative;
}

.sheet-music li .note-temp-container .note-temp-item-btn {
    padding: 0;
}

.sheet-music li .note-temp-container .note-temp-item-btn, 
.sheet-music li .note-temp-container .note-temp-item-img {
    border: none;
    background-color: transparent;
    display: none;
    height: 100%;
    width: 100%;;
}

.note-temp-container .drag-container-space .note-temp-item-btn .note-staff-image,
.note-temp-container .drag-container-space .note-temp-item-img .note-staff-image {
    font-weight: 700;
    line-height: 1px;
}

.note-temp-container .drag-container-space .note-temp-item-btn .EighthRest,
.note-temp-container .drag-container-space .note-temp-item-img .EighthRest {
    transform: translateY(1.8rem) !important;
}

.note-temp-container .drag-container-space .note-temp-item-btn .WholeRest,
.note-temp-container .drag-container-space .note-temp-item-img .WholeRest,
.note-temp-container .drag-container-space .note-temp-item-btn .Dotted-WholeRest,
.note-temp-container .drag-container-space .note-temp-item-img .Dotted-WholeRest {
    transform: translateY(1.3rem) !important;
}

.note-temp-container .drag-container-space .note-temp-item-btn .HalfRest,
.note-temp-container .drag-container-space .note-temp-item-img .HalfRest,
.note-temp-container .drag-container-space .note-temp-item-btn .Dotted-HalfRest,
.note-temp-container .drag-container-space .note-temp-item-img .Dotted-HalfRest {
    transform: translateY(2.4rem) !important;
}

.note-temp-container .drag-container-space .note-temp-item-btn .QuarterRest,
.note-temp-container .drag-container-space .note-temp-item-img .QuarterRest,
.note-temp-container .drag-container-space .note-temp-item-btn .Dotted-QuarterRest,
.note-temp-container .drag-container-space .note-temp-item-img .Dotted-QuarterRest {
    transform: translateY(1.1rem) !important;
}

/* Move dot to the top */
.rest-dotted {
    position: absolute;
    bottom: 18px;
    left: 25px;
}

.Dotted-Half,
.Dotted-Quarter,
.Dotted-Whole,
.Dotted-WholeRest,
.Dotted-QuarterRest,
.Dotted-HalfRest {
    font-family: 'Times New Roman', Times, serif;
}

.Eighth {padding-left: 5px;}
.edit-placeholder {color: var(--danger-color-1);}
.no-translate {transform: translateY(0);}
.sheet-music li .note-temp-container .edit-placeholder:hover {cursor: pointer;}

.move-up {
    transform: translateY(-1rem);
    position: relative;
    z-index: 2;
}

.move-down {
    transform: translateY(1rem);
    position: relative;
    z-index: 2;
}